<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="inputFilePath" value="F:\GitHub\Task2\TextHandler\TextHandlerConsole\Files\Input.txt"/>
		<add key="outputFilePath" value="F:\GitHub\Task2\TextHandler\TextHandlerConsole\Files\Output.txt"/>
		<add key="textWorkingToolFilePath" value="F:\GitHub\Task2\TextHandler\TextHandlerConsole\Files\TextWorkingTool.txt"/>
		<add key="substringFilePath" value="F:\GitHub\Task2\TextHandler\TextHandlerConsole\Files\Substring.txt"/>
	</appSettings>
</configuration>